<!DOCTYPE html>
<html>
<head>
  <title>{% trans %}GNUKhata{% endtrans %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">
    <div class="alert alert-danger" id="date-improper-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Improper Date!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="transactions-alert" aria-live="rude" role="alert" hidden>
    {% trans %}There are transactions beyond the closure date. Books cannot be closed.{% endtrans %}
    </div>
    <div class="alert alert-success" id="success-alert" aria-live="rude" role="alert" hidden>

{% trans %}Books have been closed for the current Financial Year.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="closebook-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please enter Date!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="booksnot-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Books cannot be closed!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="rollnot-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Rollover cannot be done!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Financial year end should be greater or equal to start date!{% endtrans %}
    </div>
    <div class="row">
      <div class="col-xs-6 pull-left"  style="padding-top:6px">
        <div class="panel shadow">
          <div class="panel-heading">
            <div class="panel-title">{% trans %}Close Books and Rollover{% endtrans %}</div>

          </div>
          <div style="padding-top:20px; background-color: #f9f9f9;" class="panel-body" >
            <p style="margin-top: 5px;"></p>
            <p><b>{% trans %}CLOSE BOOKS{% endtrans %}: </b></p>
            <p>{% trans %}After Close Books, balances in all expense and income accounts are transferred to Profit & Loss or Income & Expenditure account and these accounts are closed.{% endtrans %}</p>
            <p>{% trans %}After{% endtrans %} <b>{% trans %}CLOSE BOOKS{% endtrans %}</b> {% trans %}is done, transactions cannot be recorded but ledger accounts can be viewed.{% endtrans %}</p>
            <p><br>
            <b>{% trans %}ROLL OVER{% endtrans %}: </b></p>
            <ul><li>{% trans %}a new organization with the same name and type is created for the next accounting year,{% endtrans %}</li>
            <li>{% trans %}every existing asset and liability account is automatically opened under its respective Group and Sub-Group and correct opening balance is brought down,{% endtrans %}</li>
            <li>{% trans %}in case of expense and income accounts these are also opened under their respective Groups and Sub-Groups, of course, without opening balances,{% endtrans %}</li></ul>
            <p>{% trans %}The Closing Stock of the earlier year gets transferred to the next year as Opening Stock.
            This module can only be activated after{% endtrans %} <b>{% trans %}CLOSE BOOKS{% endtrans %}</b> {% trans %}is done.{% endtrans %}</p>
          </div>
        </div>

      </div>
      <div style="padding-top:5px" class="col-xs-6 pull-right">
        <div class="panel shadow closebooks" hidden="hidden">
          <div class="panel-heading">
            <div class="panel-title">{% trans %}Close Books{% endtrans %}</div>
          </div>
          <div style="padding-top:5px" class="panel-body" >
            <p>{% trans %}Current Financial Year{% endtrans %}:
              <div class="form-inline">

                <label class="sr-only" for="cbfromday">{% trans %}Enter From Day{% endtrans %}</label>
                <input type="text" id="cbfromday" name="fromday" class="form-control crdate " size="2" maxlength="2" style="width:60px"  placeholder="DD" accesskey="d" disabled>

                <label class="sr-only" for="cbfrommonth">{% trans %}Enter From Month{% endtrans %}</label>
                <input type="text" id="cbfrommonth" name="frommonth" class="form-control crdate " size="2" maxlength="2" style="width:60px"  placeholder="MM" disabled>

                <label class="sr-only" for="cbfromyear">{% trans %}Enter From Year{% endtrans %}</label>
                <input type="text" id="cbfromyear" name="fromyear" class="form-control crdate " size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>


                <label>--{% trans %}To{% endtrans %}--</label>

                <label class="sr-only" for="cbtoday">{% trans %}Enter To Day{% endtrans %}</label>
                <input type="text" id="cbtoday" name="today" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                <label class="sr-only" for="cbtomonth">{% trans %}Enter To Month{% endtrans %}</label>
                <input type="text" id="cbtomonth" name="tomonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                <label class="sr-only" for="cbtoyear">{% trans %}Enter To Year{% endtrans %}</label>
                <input type="text" id="cbtoyear" name="toyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >
              </div></p>

              <button type="button" id="closebooks" class="btn btn-danger closebooks" accesskey="s">{% trans %}Clo<u>s</u>e Books{% endtrans %}</button>
            </div>
          </div>
        </div>




        <div style="padding-top:5px" class="col-xs-6 pull-right">
          <div class="panel shadow" >
            <div class="panel-heading">
              <div class="panel-title">{% trans %}Roll Over{% endtrans %}</div>
            </div>
            <div style="padding-top:5px" class="panel-body" >
              <p><b>{% trans %}Roll Over for the Period{% endtrans %}</b></p>
              <p>{% trans %}Current Financial Year From{% endtrans %}: <div class="form-inline">

                <label class="sr-only" for="rbfromday">{% trans %}Enter From Day{% endtrans %}</label>
                <input type="text" id="rbfromday" name="fromday" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" disabled>

                <label class="sr-only" for="rbfrommonth">{% trans %}Enter From Month{% endtrans %}</label>
                <input type="text" id="rbfrommonth" name="frommonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" disabled>

                <label class="sr-only" for="rbfromyear">{% trans %}Enter From Year{% endtrans %}</label>
                <input type="text" id="rbfromyear" name="fromyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>

                <label>--{% trans %}To{% endtrans %}--</label>

                <label class="sr-only" for="rbtoday">{% trans %}Enter To Day{% endtrans %}</label>
                <input type="text" id="rbtoday" name="day" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" disabled>

                <label class="sr-only" for="rbtomonth">{% trans %}Enter To Month{% endtrans %}</label>
                <input type="text" id="rbtomonth" name="tomonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM"  disabled>

                <label class="sr-only" for="rbtoyear">{% trans %}Enter To Year{% endtrans %}</label>
                <input type="text" id="rbtoyear" name="toyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>
              </div></p>

              <p>{% trans %}New Financial Year From{% endtrans %}: <div class="form-inline">

                <label class="sr-only" for="rbfrom_day">{% trans %}Enter From Day{% endtrans %}</label>
                <input type="text" id="rbfrom_day" name="fromday" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" disabled>

                <label class="sr-only" for="rbfrom_month">{% trans %}Enter From Month{% endtrans %}</label>
                <input type="text" id="rbfrom_month" name="frommonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" disabled>

                <label class="sr-only" for="rbfrom_year">{% trans %}Enter From Year{% endtrans %}</label>
                <input type="text" id="rbfrom_year" name="fromyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>

                <label>--{% trans %}To{% endtrans %}--</label>

                <label class="sr-only" for="rbto_day">{% trans %}Enter To Day{% endtrans %}</label>
                <input type="text" id="rbto_day" name="day" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                <label class="sr-only" for="rbto_month">{% trans %}Enter To Month{% endtrans %}</label>
                <input type="text" id="rbto_month" name="tomonth" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                <label class="sr-only" for="rbto_year">{% trans %}Enter To Year{% endtrans %}</label>
                <input type="text" id="rbto_year" name="toyear" class="form-control crdate dis" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >
              </div></p>

              <button type="button" id="rollover" class="btn btn-primary dis" accesskey="v">{% trans %}Roll O<u>v</u>er{% endtrans %}</button>
            </div>
          </div>

        </div>
      </div>
      <!-- Trigger the modal with a button -->


    </div>

    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div class="modal fade" id="m_rollb" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{% trans %}Confirm{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">

              <button id="m_remove" class="btn btn-warning" >{% trans %}Yes{% endtrans %}</button>
              <button id="m_cancel" class="btn btn-danger" data-dismiss="modal" >{% trans %}No{% endtrans %}</button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/closebooks.js')}}"></script>
</body>
</html>
