<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Extended Trial Balance{% endtrans %}</title>
	<style type="text/css">

	.selected
	{
		background-color: Aquamarine;
	}

	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	td {
		font-size: 65%;
		color: black;
	}

	th {
		font-size: 70%;
	}
	/*
	Force table width to 100%
	*/
	table.table-fixedheader {
		width: 100%;
	}
	/*
	Set table elements to block mode.	(Normally they are inline).
	This allows a responsive table, such as one where columns can be stacked
	if the display is narrow.
	*/
	table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
		display: block;
	}
	table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after	{
		content:' ';
		display: block;
		visibility: hidden;
		clear: both;
	}
	/*
	When scrolling the table, actually it is only the tbody portion of the
	table that scrolls (not the entire table: we want the thead to remain
	fixed).	We must specify an explicit height for the tbody.	We include
	100px as a default, but it can be overridden elsewhere.

	Also, we force the scrollbar to always be displayed so that the usable
	width for the table contents doesn't change (such as becoming narrower
	when a scrollbar is visible and wider when it is not).
	*/
	table.table-fixedheader>tbody {
		overflow-y: scroll;
		height: 68vh;

	}
	/*
	We really don't want to scroll the thead contents, but we want to force
	a scrollbar to be displayed anyway so that the usable width of the thead
	will exactly match the tbody.
	*/
	table.table-fixedheader>thead, table.table-fixedheader>tfoot {
		overflow-y: scroll;
		height: 26px;
		width: 99.2%;
	}
	/*
	For browsers that support it (webkit), we set the background color of
	the unneeded scrollbar in the thead to make it invisible.	(Setting
	visiblity: hidden defeats the purpose, as this alters the usable width
	of the thead.)
	*/
	table.table-fixedheader>thead::-webkit-scrollbar {
		background-color: inherit;
	}


	table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
		content:' ';
		display: table-cell;
		visibility: hidden;
		clear: both;
	}

	/*
	We want to set <th> and <td> elements to float left.
	We also must explicitly set the width for each column (both for the <th>
	and the <td>).	We set to 20% here a default placeholder, but it can be
	overridden elsewhere.
	*/

	table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
		float: left;

	}

	#gtbtable {
		background-color: white;
	}

	</style>
</head>
<body>
	<span style="margin:auto; display:table;"><strong>{% trans %}Extended Trial Balance{% endtrans %}</strong> {% trans %}for the period from{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
	<div class="table-responsive">
		<table id="gtbtable" class="shadow table table-fixedheader table-condensed trialbaltable">
			<thead>
				<tr>
					<th class="col-xs-1">{% trans %}Sr. No.{% endtrans %}</th>
					<th class="col-xs-3">{% trans %}Account Name{% endtrans %}</th>
					<th class="col-xs-2" style="text-align:right">{% trans %}Opening Balance{% endtrans %}</th>
					<th class="col-xs-1" style="text-align:right">{% trans %}Total Drs{% endtrans %}</th>
					<th class="col-xs-1" style="text-align:right">{% trans %}Total Crs{% endtrans %}</th>
					<th class="col-xs-1" style="text-align:right">{% trans %}Dr Balance{% endtrans %}</th>
					<th class="col-xs-1" style="text-align:right">{% trans %}Cr Balance{% endtrans %}</th>
					<th class="col-xs-2" style="text-align:center">{% trans %}Group Name{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr	value="{{record['accountcode']}}">
					<td class="col-xs-1">
						{{record['srno']}}
					</td>
					<td class="col-xs-3">
						{% if record['srno']!="" %}
						<a class="accname" href="">{{record['accountname']}}</a>
						{% else %}
						{% if record['accountname']=="" %}
						<a class="accname" href="">&nbsp</a>
						{% else %}
						<a class="accname" href="" style="text-decoration: none; color:black;">{{record['accountname']}}</a>
						{% endif %}
						{% endif %}
					</td>
					<td class="col-xs-2" style="text-align:right">
						{{record["openingbalance"]}}
					</td>
					<td class="col-xs-1" style="text-align:right">
						{{record["totaldr"]}}
					</td>
					<td class="col-xs-1" style="text-align:right">
						{{record["totalcr"]}}
					</td>

					{%if record["advflag"]==1%}
					<td class="col-xs-1" style="text-align:right; color:red;">
						<b>{{record["curbaldr"]}}</b>
					</td>
					<td class="col-xs-1" style="text-align:right; color:red;">
						<b>{{record["curbalcr"]}}</b>
					</td>
					{%else%}
					<td class="col-xs-1" style="text-align:right">
						{{record["curbaldr"]}}
					</td>
					<td class="col-xs-1" style="text-align:right">
						{{record["curbalcr"]}}
					</td>
					{%endif%}
					<td class="col-xs-2" style="text-align:center">
						{{record["groupname"]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">
		<button type="button" class="btn btn-sm btn-info" id="ntbview" accesskey="a">{% trans %}Net Tri<u>a</u>l Balance{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-primary" id="gtbview" accesskey="g">{% trans %}<u>G</u>ross Trial Balance{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-danger" id="tbback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="printbutton" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="trialbaltype" value="{{trialbalancetype}}">
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/trialbalancereport.js')}}"></script>
</body>
</html>
