<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Ledger{% endtrans %}</title>
  <style type="text/css">

  .selected
  {
    background-color: Aquamarine;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 65%;
  }

  th {
    font-size: 70%;
  }
  #ledgertable {
    background-color: white;
  }
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 68vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 99.3%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }
  </style>
</head>
<body>
  <div class="alert alert-danger" id="ua-alert" hidden>

    <strong>{% trans %}Unauthorized to Lock/Unlock Transactions!{% endtrans %}</strong>
  </div>
  <input type="hidden" id="urole" name="urole" value="{{userrole}}"></input>
  <input type="hidden" id="accountcode" name="accountcode" value="{{ledgerrefresh["accountcode"]}}"></input>
  <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{ledgerrefresh["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto" name="calculateto" value="{{ledgerrefresh["calculateto"]}}"></input>
  <input type="hidden" id="financialstart" name="financialstart" value="{{ledgerrefresh["financialstart"]}}"></input>
  <input type="hidden" id="monthlyflag" name="monthlyflag" value="{{ledgerrefresh["monthlyflag"]}}"></input>
  <input type="hidden" id="backflag" name="backflag" value="{{ledgerrefresh["backflag"]}}"></input>
  <input type="hidden" id="projectcode" name="projectcode" value="{{ledgerrefresh["projectcode"]}}"></input>
  <input type="hidden" id="narrationflag" name="narrationflag" value="{{ledgerrefresh["narrationflag"]}}"></input>
  <input type="hidden" id="projectname" name="projectname" value="{{ledgerrefresh["projectname"]}}"></input>
  <input type="hidden" id="side" name="side" value="{{ledgerrefresh["side"]}}"></input>
  <input type="hidden" id="modalindex" value=""></input>
  {% if ledgerheader["projectname"]!="" %}
  <i>{% trans %}Project{% endtrans %}</i> : {{ledgerheader["projectname"]}}
  {% endif %}
  <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : {{ledgerheader["calculatefrom"]}} {% trans %}to{% endtrans %} {{ledgerheader["calculateto"]}}</span>
  <span style="margin:auto; display:table;"><i>{% trans %}Ledger Account{% endtrans %}</i> : {{ledgerheader["accountname"]}}</span>

  <div class="table-responsive">
    <table id="ledgertable" class=" shadow table table-fixedheader table-condensed">
      <thead>
        <tr>
          <th class="col-xs-1">{% trans %}Date{% endtrans %}</th>
          <th class="col-xs-1">{% trans %}V. No.{% endtrans %}</th>
          <th style="text-align:center" class="col-xs-1">{% trans %}Status{% endtrans %}</th>
          <th class="col-xs-1">{% trans %}Voucher Type{% endtrans %}</th>
          {% if ledgerheader["projectname"]=="" %}
          <th class="col-xs-2">{% trans %}Particulars{% endtrans %}</th>
          <th style="text-align:right" class="col-xs-2">{% trans %}Debit{% endtrans %}</th>
          <th style="text-align:right" class="col-xs-2">{% trans %}Credit{% endtrans %}</th>
          <th style="text-align:right" class="col-xs-2">{% trans %}Balance{% endtrans %}</th>
          {% else %}
          <th class="col-xs-4">{% trans %}Particulars{% endtrans %}</th>
          <th style="text-align:right" class="col-xs-2">{% trans %}Debit{% endtrans %}</th>
          <th style="text-align:right" class="col-xs-2">{% trans %}Credit{% endtrans %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr  value="{{record['vouchercode']}}">
          <td class="col-xs-1">
            {{record['voucherdate']}}
          </td>
          {% if record['vouchernumber']=="" %}
          <td class="col-xs-1" >
            <a class="vno" href="">&nbsp</a>
          </td>
          {% else %}
          <td class="col-xs-1">
            <a class="vno" href="">{{record['vouchernumber']}}</a>
          </td>
          {% endif %}
          {% if (record['status']) %}
          <td class="col-xs-1" style="color:red; text-align:center">***</td>
          {% else %}
          {% if (record['status'])=="" %}
          <td class="col-xs-1" value="na"></td>
          {%else%}
          <td class="col-xs-1"style="color:red; text-align:center"> </td>
          {% endif %}
          {% endif %}
          {% if record["vouchertype"]=="" %}
          <td class="col-xs-1">&nbsp</td>
          {% elif (record["vouchertype"]=="purchasereturn")%}
          <td class="col-xs-1">{% trans %}Purchase Return{% endtrans %}</td>
          {% elif (record["vouchertype"]=="salesreturn")%}
          <td class="col-xs-1">{% trans %}Sale Return{% endtrans %}</td>
          {% elif (record["vouchertype"]=="creditnote")%}
          <td class="col-xs-1">{% trans %}Credit Note{% endtrans %}</td>
          {% elif (record["vouchertype"]=="debitnote")%}
          <td class="col-xs-1">{% trans %}Debit Note{% endtrans %}</td>
          {% else %}
          <td class="col-xs-1" style="text-align:left">
            {{(record["vouchertype"]).title()}}
          </td>
          {% endif %}

          {% if ledgerheader["projectname"]=="" %}
          <td class="col-xs-2">
            {% for pr in record['particulars'] %}
            {{pr}} <br>
            {% endfor %}
            {% if record['narration']!="" and narrationflag==true %}
            ({{record['narration']}})
            {% endif %}
          </td>
          {%if record["advflag"]==1%}
          <td class="col-xs-2" style="text-align:right; color:red;">
            <b>{{record["Dr"]}}</b>
          </td>
          <td class="col-xs-2" style="text-align:right; color:red;">
            <b>{{record["Cr"]}}</b>
          </td>
          {%else%}
          <td class="col-xs-2" style="text-align:right">
            {{record["Dr"]}}
          </td>
          <td class="col-xs-2" style="text-align:right">
            {{record["Cr"]}}
          </td>
          {%endif%}
          <td class="col-xs-2" style="text-align:right">
            {{record["balance"]}}
          </td>
          {% else %}
          <td class="col-xs-4">
            {% for pr in record['particulars'] %}
            {{pr}} <br>
            {% endfor %}
            {% if record['narration']!="" and narrationflag==true %}
            ({{record['narration']}})
            {% endif %}
          </td>
          <td class="col-xs-2" style="text-align:right">
            {{record["Dr"]}}
          </td>
          <td class="col-xs-2" style="text-align:right">
            {{record["Cr"]}}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <span style="margin:auto; display:table;">
      {% if ledgerrefresh["backflag"]>0 or ledgerrefresh.side %}
      <button class="btn btn-sm btn-danger" type="button" id="back" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
      {% endif %}
      <button class="btn btn-sm btn-primary" type="button" id="anotherledger" accesskey="v">{% trans %}<u>V</u>iew Another Ledger{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button" id="dualledger" accesskey="g">{% trans %}Dual Led<u>g</u>ers{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="drsonly" accesskey="d">{% trans %}Only <u>D</u>rs{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="crsonly" accesskey="y">{% trans %}Onl<u>y</u> Crs{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet</u>{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="printledger" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
    </span>
  </div>

  <div id="viewvc">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/ledgerreport.js')}}"></script>
</body>
</html>
