<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>
  <style type="text/css">

  @page {
    size: 21cm 29.7cm;
    margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
  }
  .selected
  {
    background-color: Aquamarine;
  }
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 65%;
  }

  th {
    font-size: 75%;
  }
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }

  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 68vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 99.3%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }
  table.table-keep>thead tr th, table.table-keep>tbody tr td, table.table-keep>tfoot tr td {
    float: left;

  }

  #satable{
    background-color: white;
  }

  </style>
</head>
<body>
  <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
  <div class="table-responsive container-fluid">
    <table id="satable" class="shadow table table-condensed table-fixedheader cbalsheettable">
      <thead>
        <tr>
          <th colspan="4" class="text-center col-xs-12" >
            {% trans %}Statement of Sources and Applications of Funds{% endtrans %} </strong>{% trans %}as on{% endtrans %} <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for record in records["leftlist"] %}
        {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
          <tr value="{{record["groupAcccode"]}}">
        {%elif record["groupAccflag"] == 2%}
          <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
        {% elif record["groupAccflag"] == 1  %}
          <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
        {%elif record["subgroupof"]!=""%}
          <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
        {%else%}
          <tr value="g{{record["groupAcccode"]}}" class="groupname">
        {%endif%}

          <td class="col-xs-9">
            {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Sources:" or record["groupAccname"]=="Difference" %}
            <a class="libgname" href="#" style="text-decoration: none; color:black;"><b>{{record["groupAccname"].upper()}}</b></a>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"].upper()}}</a>
            {%elif record["groupAccflag"]==1 %}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%elif record["groupAccflag"]==2%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%else%}
            <a href="#" class="libgname">{{record["groupAccname"].upper()}}</a>
            {%endif%}
          </td>

          {%if record["advflag"] == 1%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%else%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right">{{record["amount"]}}</td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%endif%}
        </tr>
        {% endfor %}
        {% for record in records["rightlist"] %}
        {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
          <tr value="{{record["groupAcccode"]}}">
        {%elif record["groupAccflag"] == 2%}
          <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
        {% elif record["groupAccflag"] == 1  %}
          <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
        {%elif record["subgroupof"]!=""%}
          <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
        {%else%}
          <tr value="g{{record["groupAcccode"]}}" class="groupname">
        {%endif%}

          <td class="col-xs-9">
            {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Difference" or record["groupAccname"]=="Applications:" %}
            <a class="libgname" href="#" style="text-decoration: none; color:black;"><b>{{record["groupAccname"].upper()}}</b></a>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"].upper()}}</a>
            {%elif record["groupAccflag"]==1 %}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%elif record["groupAccflag"]==2%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%else%}
            <a href="#" class="libgname groupname">{{record["groupAccname"].upper()}}</a>
            {%endif%}
          </td>

          {%if record["advflag"] == 1%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="") %}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%else%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right">{{record["amount"]}}</td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="") %}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%endif%}
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <input type="hidden" name="balancesheettype" id="balancesheettype" value="{{balancesheettype}}">
    <input type="hidden" name="cto" id="cto" value="{{to}}">

    <span class="hidden-print" style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="saback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="sbgbtn" accesskey="g">{% trans %}Show Sub<u>g</u>roups{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="grpbtn" accesskey="w">{% trans %}Sho<u>w</u> Groups{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="accbtn" accesskey="a">{% trans %}Show All <u>A</u>ccounts{% endtrans %}</button>
      {% if orgtype=="Profit Making" %}
      <button class="btn btn-sm btn-primary " type="button" id="cbalbutn" hidden="hidden" accesskey="">{% trans %}C<u>o</u>nventional Balance Sheet{% endtrans %}</button>
      {% else %}
      <button class="btn btn-sm btn-primary " type="button" id="cbalbutn" hidden="hidden" accesskey="o">{% trans %}C<u>o</u>nventional Statement of Affairs{% endtrans %}</button>
      {% endif %}
       <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
       <button class="btn btn-sm btn-primary" type="button"  id="printbalance" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
       <button class="btn btn-sm btn-primary" type="button"  id="realprintbalance" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
    </span>
  </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/sourcesandapplicationoffundsreport.js')}}"></script>
</body>
</html>
