<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <title>{{vtype}} , {% trans %}V.No{% endtrans %}:{{vno}}</title>
  <style media="screen">
  .well {
    background: rgb(217,237,247);
  }
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div{
    color: black;
  }
  </style>
  </head>
  <body>
    <div class="container-fluid">
      <input type="hidden" id="vouchercode" value="{{vouchercode}}">
      <input type="hidden" id="vtype" value="{{vtype}}">
      <input type="hidden" id="vno" value="{{vno}}">
      <input type="hidden" id="lockflag" value="{{lockflag}}">
      <input type="hidden" id="userrole" value="{{userrole}}">
      <div class="col-xs-10 col-xs-offset-1">
      {% for key, value in attachment.items() %}
      <div class="image">
      <div class="well well-sm shadow">
        <div class="form-inline">
          <div class="form-group">
            <h4>{% trans %}Image No{% endtrans %}: {{ loop.index }}</h4>
          </div>
          <div class="form-group pull-right imgremove">
            <button id="removeimg" value="{{key}}" class="delimg btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% trans %}Remove image{% endtrans %}</button>
          </div>
        </div>
      </div>
        <img src="data:image/jpg;base64,{{value}}" alt="{{key}}" class="img-responsive shadow" style="border:1px solid black;"/>
        <hr>
      </div>
      {% endfor %}
      <div class="alert alert-success" id="image-success-alert"  aria-live="rude" role="alert" hidden>

        {% trans %}Changes saved.{% endtrans %}
      </div>
      <div class="well well-sm shadow imgremove">
        <span style="margin:auto; display:table;">
          <div class="form-inline">
            <div class="form-group">
              <label class="btn btn-primary" for="addimg">
                <input name="img" accesskey="a" class="input-sm" id="addimg" type="file" accept="image/*" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
                {% trans %}<u>A</u>dd{% endtrans %}
              </label>
              <span class='label label-info' id="upload-file-info"></span>
              <button type="button" id="saveimg" class="btn btn-success" accesskey="s" name="button">{% trans %}<u>S</u>ave Changes{% endtrans %}</button>
            </div>
          </div>
        </span>
      </div>
    </div>
    </div>
    <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewimages.js')}}"></script>
  </body>
</html>
