<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %}</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View{% endtrans %}</h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="improperdate-alert" hidden>

          {% trans %}Please enter date in proper format!{% endtrans %}
        </div>
        <div class="panel-body" style="padding-top:5px">
          <div class="alert alert-danger" id="betweendate-alert" hidden>

            {% trans %}Please enter date within the financial year!{% endtrans %}
          </div>


        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewbalsht_fromday">{% trans %}From Date{% endtrans %}:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewbalsht_date form-control input-sm dis" id="viewbalsht_fromday" disabled value="" size="2" maxlength="2" placeholder="DD">
              <input type="text" id="viewbalsht_frommonth" class="viewbalsht_date dis form-control input-sm" disabled value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewbalsht_fromyear" class="viewbalsht_date dis form-control input-sm" disabled value="" size="4" maxlength="4" placeholder="YYYY">
            </div>

          </div>
          <br>
          <label for="viewbalsht_today">{% trans %}To <u>D</u>ate{% endtrans %}:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewbalsht_date form-control input-sm dis" id="viewbalsht_today" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewbalsht_tomonth" class="viewbalsht_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewbalsht_toyear" class="viewbalsht_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY">
            </div>
          </div>
          <br>
          <label for="viewbalsht_baltype" id="baltypelbl">{% trans %}<u>T</u>ype{% endtrans %}:</label>
          <div class="form-group cbl" hidden="hidden">
            <select class = "form-control input-sm dis cblsel" id="viewbalsht_baltype"  name = "viewbalsht_baltype" accesskey="t">

              <option value="conventionalbalancesheet">{% trans %}Conventional Balance Sheet{% endtrans %}</option>
              <option value="verticalbalancesheet">{% trans %}Sources & Applications of Funds{% endtrans %}</option>
            </select>
          </div>
          <div class="form-group csa" hidden="hidden">
            <select class = "form-control input-sm dis cblsel" id="viewsa_baltype"  name = "viewsa_baltype" accesskey="t">

              <option value="conventionalbalancesheet">{% trans %}Conventional Statement of Affairs{% endtrans %}</option>
              <option value="verticalbalancesheet">{% trans %}Sources & Applications of Funds{% endtrans %}</option>
            </select>
          </div>

        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewbalsht_submit" name="view" accesskey="v">{% trans %}<u>V</u>iew{% endtrans %}</button>
        <button id="viewbalsht_reset" class="btn btn-danger btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewbalancesheet.js')}}"></script>
</body>
</html>
